@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "../../../_variables.scss";

.centralize{
    display: flex;
    align-items: center;
    justify-content: center;
}

.show{
    background-color: #030303;
    border-bottom: 2px solid #2F3233;
}

.nav-top{
    display: grid;
    align-items: center;
    grid-template-columns: 4rem 6rem auto minmax(5rem, 6rem);
    position: fixed;
    
    gap: 50px;
    
    padding: 0 20px 0 20px;
    height: 67px;
    width: 100%;

    

    .button-menu{
        margin-left: 0.4rem;
        
        border-radius: 30%;
        height: 47px;
        width: 47px;
        
        cursor: pointer;

        background-color: transparent;

        &:hover{
            background-color: #2F3233;
        }

    }

    

    .logo{
        display: flex;
        align-items: center;

        user-select: none;

        .logo-icon{
            stroke: #dedede;
            width: 25px;
        }

        span{
            font-family: "Pacifico", cursive;
            font-size: 20px;
            color: #dedede;
        }
    }

    .search-input{
        display: grid;
        grid-template-columns: 5em auto;
        align-items: center;

        gap: 13px;
        border: 0.003mm solid #dedede;
        border-radius: 6px;
        height: 37px;
        width: 30rem;

        background-color: #222425;

        .input-search{
            color: #dedede;
            font-size: 16px;
            border: none;
            outline: none;
            height: 23px;
            width: 90%;

            background-color: transparent;
        }   
        
        .button-search{
            border-radius: 6px 0 0 6px;
            height: 34px;
            width: 69px;
            
            background-color: #222425;
            
        }
    }

    .user{
        display: flex;
        justify-content: end;

        .user-icon{
            border-radius: 100%;
            border: #dedede 1px solid;
            width: 37px;
            height: 37px;

            cursor: pointer;
        }

    }
    
}

