@if (mangas().length == 0 && visibilityNotFound()) {
  <div class="Notfound">
    <div class="notfound-text">
      <h3 class="text-4xl underline">{{text404()}}</h3>
      <h3>404</h3>
    </div>
    <img src="anime.gif" alt="">
  </div>
}
@else if (mangas().length > 0) {

  <div class="page-controls gap-4">
    <button class="btn btn-outline-light" (click)="nextPage(false)"><</button>
  
    <select class="form-select select-control" (change)="onSelectionChange($event)">
      @for (item of totalPages(); track $index) {
        @if (item == page()) {
          <option [value]="$index + 1" selected>pagina {{item}}</option>
        }
        @else {
          <option [value]="$index + 1">pagina {{item}}</option>
        }
      }
    </select>
  
    <button class="btn btn-outline-light" (click)="nextPage(true)">></button>
  </div>

  <div class="feed-header">
    @for (item of mangas(); track $index) {

      <div class="card-manga">

        <img [src]="Url + item.cover.link" style="opacity: 10%;" class="card-cover-hover"/>

        <div class="card-hover">

          <div class="card-info-hover">
            <h3 class="card-title">{{item.name}}</h3>
            <span class="card-cap">{{item.num_chapters}} capítulos</span>
          </div>

          <div class="card-categories">
    
            @for (category of item.categories; track $index) {
              @if ($index < 3) {
                <span class="card-category">{{category.value}}</span>
              }
            }
    
            @if (item.categories.length > 3) {
              <span class="card-category">+ {{item.categories.length - 3}}</span>
            }
          </div>

          

        </div>
        

        <div class="card-normal">
          <img [src]="Url + item.cover.link" class="card-cover"/>
          <span class="card-title">{{item.name.length > 27 ? (item.name.substring(0, 27) + '...') : item.name}}</span>
        </div>

        

      </div>

      
    }
  </div>
}
@else {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
}


  




