@if (visibilityNotFound()) {
  <app-error404></app-error404>
}

@if (mangas().length > 0) {
  <div class="page-controls gap-4">
    <button class="btn btn-outline-light" (click)="nextPage(false)"><</button>
  
    <select class="form-select select-control" (change)="onSelectionChange($event)">
      @for (item of totalPages(); track $index) {
        @if (item == page()) {
          <option [value]="$index + 1" selected>pagina {{item}}</option>
        }
        @else {
          <option [value]="$index + 1">pagina {{item}}</option>
        }
      }
    </select>
  
    <button class="btn btn-outline-light" (click)="nextPage(true)">></button>
  </div>

  <div class="feed-header">
    @for (item of mangas(); track $index) {
      <app-card [infoManga]="item"></app-card>
    }
  </div>
}
@else if(!visibilityNotFound()) {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
}


  




